:root{
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --Red: hsl(0, 100%, 66%);
  --Linear-gradient:hsl(278, 94%, 30%);
}
section{
  position: relative;
  width: 92vw;
  max-width: 500px;
  height: 238px;
  margin: 20px auto;

}
.back{
  width: 79%;
  height: 63%;
  max-width: 447px;
  max-height: 235px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  background-image: url(../../public/images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.back p{
  width: 30px;
  height: 20px;
  margin-right: 35px;
  font-size: 11px;
  color: var(--White);
}
.front{
  width: 79%;
  height: 63%;
  max-width: 447px;
  max-height: 235px;
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 5px;
  background-image: url(../../public/images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon_container{
  width: 85%;
  height: 40%;
  margin: 0 auto;
}
.icon_container svg{
  width: 27%;
  max-width: 90px;
  height: 100%;
}
.text-container{
  width: 85%;
  height: 50%;
  margin: 0 auto 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text-container .number{
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  color: var(--White);
}
.text-container--data{
  max-width: 300px;
  color: var(--White);
  display: flex;
  justify-content: space-between;
  height: 20px;
}
.text-container--data .name{
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
}
.text-container--data div{
  display: flex;
}
.text-container--data div p{
  margin: 0;
  font-size: 11px;
}

/* FORMULARIO */
main{
  width: 90vw;
  max-width: 500px;
  height: 300px;
}
form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
form label{
  font-size: 12px;
  letter-spacing: 1px;
}
form input{
  width: 100%;
  max-width: 392px;
  font-size: 14px;
  padding: 13px;
  border-radius: 10px;
  font-weight:500;
  border: solid 1px var(--Light-grayish-violet);
}
form input:focus {
  outline: 2px solid var(--Linear-gradient);
}
.error{
  border: solid 2px var(--Red);
}

form p{
  margin: 0;
  color: var(--Red);
}
.input_container{
  display: flex;
  align-items: center;
  max-width: 425px;
}
.input_container--date {
  width: 50%;
}
.input_container--date input{
  width: 25%;
  margin-right: 5px;
}
.input_container--cvc{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.input_container--cvc input{
  width: 83%;
}

input[type = "submit"]{
  width: 90vw;
  max-width: 420px;
  height: 50px;
  padding: 13px;
  margin-top: 10px;
  font-size: 14px;
  font-weight:500;
  border-radius: 10px;
  border: solid 1px var(--Light-grayish-violet);
  color: var(--White);
  background-color: var(--Very-dark-violet);
}
input[type = "submit"]:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6) ;
}

/*MEDIA QUERYS*/

@media (min-width:600px){
  section{
    height: 490px;
    margin: 0;
  }
  .back,
  .front{
    height: 235px;
  }
  .back{
    top: auto;
    bottom: 0;
  }
  .back p{
    font-size: 15px;
  }
  .front{
    top: 0;
  }
  .text-container .number{
    font-size: 22px;
    letter-spacing: 3.5px;
  }
  .text-container--data .name{
    font-size: 13px;
  }
  .text-container--data div p{
    font-size: 13px;
  }
  main{
    width: 60vw;
  }
  form{
    width: 90%;
    margin-bottom: 25px;
  }
}